@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap');

:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);
    
    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #ffffff;

    /* Tipografías */
    --base-font: "Inter", sans-serif;
    --alternative-font: "Raleway", sans-serif;

    /* Font sizes */
    --font-display: 4.6rem;
    --font-jumbo: 3.8rem;
    --font-xlarge: 3rem;
    --font-large: 2.4rem;
    --font-medium: 1.8rem;
    --font-small: 1.6rem;
    --font-xsmall: 1.2rem;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}



*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html {
    font-size: 62.5%;
    font-family: var(--base-font);
    color: var(--dark-solid);
}


/*-----SCROLLBAR-----*/
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button {
    display: none;
}

::-webkit-scrollbar-corner {
    display: none;
}

::-webkit-scrollbar-thumb {
    background: rgb(158, 157, 157);
    border-radius: 8px;
}

::-webkit-scrollbar-track {
    background-color: #1f1f1f;
}

::-webkit-scrollbar-track-piece {
    background: 0 0;
}





a {
    font-family: inherit;
    text-decoration: none;
    color: inherit;
}

header, footer {
    font-family: var(--alternative-font);
    color: var(--light-font-solid);
}

ul, ol {
    list-style-type: none;
    font-size: 2em;
}



header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: var(--dark-bg-solid);
    display: flex;
    align-items: center;
    z-index: 99;
}

nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav ul li a {
    margin: 0 3rem;
}

#hero {
    width: 100%;
    height: 100vh;
    z-index: 20;
    left: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.9) 10%, rgba(155,155,155, 0.10) 80%), url("../img/funkos-banner.webp");
    background-repeat: round;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
}


#hero article {
    height: 100%;
    color: var(--light-font-solid);
    gap: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10em 0 0 var(--spacing-128);
}

#hero article p {
    font-size: var(--font-medium)
}

#hero article h1 {
    font-size: var(--font-jumbo);
}

#hero article a {
    margin: 3em 0;
    color: var(--dark-solid);
    font-size: 2em;
    width:fit-content;
    padding: .8em 5em;
    text-align: center;
    background-color: white;
    border-radius: 50px;
    font-weight: 500;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
}

#colecciones {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#colecciones article {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: var(--font-large);
}

.info-body {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.info-body h3 {
    font-size: var(--font-display);
    font-family: var(--alternative-font);
    font-weight: 500;
    margin-bottom: 0.6rem;
}

.linea {
    width: 60rem;
    height: 3px;
    background-color:var(--primary-solid);
    margin: 4rem 0;
}

.info-body a {
    background-color: var(--dark-bg-solid);
    border-radius: 50px;
    width: 50%;
    padding: 2rem 0;
    text-align: center;
    color: var(--light-font-solid);
}



#ult-lanzamientos {
    width: 100%;
    margin-bottom: 9rem;
}

#ult-lanzamientos h2 {
    font-size: var(--font-display);
    margin: 5rem 0;
}

#ult-lanzamientos ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.card {
    font-size: 1.6rem;
}

.card a div {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card a picture img {
    height: 35rem;
    width: 35rem;
}

.card a div h4 {
    font-size: var(--font-medium);
}

.card a div p:first-of-type {
    font-size: 1.4rem;
}


.card a div p:last-of-type {
    font-size: var(--font-xsmall);
}

footer {
    background-color: var(--dark-bg-solid);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 7em;
    height: 30em;
    align-items: center;
}

footer nav ul {
    flex-direction: column;
    gap: .6em;
}

footer nav ul li{
    width: 100%;
    text-align: left;
}

footer p {
    align-self: flex-end;
    font-size: 2em;
}