:root {
    /* Palette */
    --primary-solid: #FF3333;
    --primary-900: rgba(255, 51, 51, 0.9);
    --primary-500: rgba(255, 51, 51, 0.5);
    --primary-300: rgba(255, 51, 51, 0.3);

    --secondary-solid: #1D84B5;
    --secondary-900: rgba(29, 132, 181, 0.9);
    --secondary-500: rgba(29, 132, 181, 0.5);
    --secondary-300: rgba(29, 132, 181, 0.3);
    
    --dark-solid: #1F1F1F;
    --dark-900: rgb(31, 31, 31, 0.9);
    --dark-500: rgb(31, 31, 31, 0.5);
    --dark-300: rgb(31, 31, 31, 0.3);

    --dark-bg-solid: #30343F;
    --light-bg-solid: #FAFAFF;
    --light-font-solid: #ffffff;

    /* Tipografías */
    --base-font: "Inter", sans-serif;
    --alternative-font: "Raleway", sans-serif;

    /* Font sizes */
    --font-display: 4.6em;
    --font-jumbo: 3.8em;
    --font-xlarge: 3em;
    --font-large: 2.4em;
    --font-medium: 1.8em;
    --font-small: 1.6em;
    --font-xsmall: 1.4em;

    /* Spacings */
    --spacing-128: 12.8rem;
    --spacing-68: 6.8rem;
    --spacing-36: 3.6rem;
    --spacing-28: 2.8rem;
    --spacing-24: 2.4rem;
    --spacing-20: 2rem;
    --spacing-16: 1.6rem;
    --spacing-12: 1.2rem;
    --spacing-8: 0.8rem;
}


/*----- MAIN------*/
.main-shop {
    display: grid;
    grid-template-columns: 1fr 8fr;
    grid-template-areas: "aside catalog";
    padding: var(--spacing-68) 0;
}


/*----- ASIDE ------*/
.aside {
    grid-area: aside;
}

.aside__form {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.form__title {
    font-size: var(--font-large);
    font-weight: 500;
    margin-top: var(--spacing-24);
}

.form__input {
    display: inline-block;
    font-size: var(--font-medium);
    outline: none;
    border: 2px solid black;
    padding: var(--spacing-8);
    border-radius: 6px;
}

.form__label {
    font-size: var(--font-small);
    font-weight: 500;
}


.checks-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-8);
}

.form__checks {
    display: flex;
    align-items: center;
    gap: var(--spacing-8);
}

.form__checkbox {
    width: var(--spacing-24);
    height: var(--spacing-24);
    outline: none;
    border: 2px solid black;
    border-radius: 6px;
}



/*--- PRODUCTS -----*/
.catalog {
    grid-area: catalog;
    padding: var(--spacing-16);
}


.catalog__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    column-gap: var(--spacing-24);
    row-gap: var(--spacing-36);
}

.card-item {
    height: 100%;
}

.card-item__link {
    height: 100%;
    display: grid;
}


.card-item__content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}